.hidden {
    visibility: hidden;
}
body {
    background-color: #424242;
}

#game canvas {
    position: absolute;
    top: 0;
    z-index: 0;
    margin: auto;
}

/*SCORES*/
#scores{
    position: absolute;
    top: 0;
    width:864px;
    height:864px;
    z-index: 2;
    font-family:  Arial, sans-serif;
    color:rgba(0,0,0,0.8);
}
#scores #scores-p1,
#scores #scores-p2,
#scores #scores-p3,
#scores #scores-p4{
    width: 150px;
    height: 150px;
}
#scores #scores-p1{
    position: absolute;
    left:32px;
    top:32px;
    /*border: 1px solid red;*/
}
#scores #scores-p2{
    position: absolute;
    right:32px;
    top:32px;
    /*border: 1px solid green;*/
}
#scores #scores-p3{
    position: absolute;
    left:32px;
    bottom:32px;
    /*border: 1px solid blue;*/
}
#scores #scores-p4{
    position: absolute;
    right:32px;
    bottom:32px;
    /*border: 1px solid black;*/
}

#scores #scores-p1 .name,
#scores #scores-p2 .name,
#scores #scores-p3 .name,
#scores #scores-p4 .name{
    font-size: 1.1em;
    font-weight: bold;
}

#scores #scores-p1 .number,
#scores #scores-p2 .number,
#scores #scores-p3 .number,
#scores #scores-p4 .number{
    display: block;
    font-size: 2em;
    font-weight: bold;
}
#scores #scores-p1 .findNumber,
#scores #scores-p2 .findNumber,
#scores #scores-p3 .findNumber,
#scores #scores-p4 .findNumber{
    display: block;
    font-size: 2em;
    width:32px;
    line-height:32px;
}
#scores #scores-p1 .level,
#scores #scores-p2 .level,
#scores #scores-p3 .level,
#scores #scores-p4 .level{
    display: block;
    font-size: 1em;
    width:32px;
    line-height:32px;
    text-align: center;
    background-color: rgba(44,44,44,0.5);
    color:white
}

#scores #scores-p1 .name{
    position: absolute;
    left:0;
    top:0;
}
#scores #scores-p1 .number{
    position: absolute;
    left:0px;
    top:60px;
    width:80px;
    text-align: right;
}
#scores #scores-p1 .findNumber{
    position: absolute;
    right:30px;
    top:5px;
}
#scores #scores-p1 .level{
    position: absolute;
    top:20px;
}

#scores #scores-p2 .name{
    position: absolute;
    right:0;
    top:0;
}
#scores #scores-p2 .number{
    position: absolute;
    right:0px;
    top:60px;
    width:80px;
    text-align: left;
}
#scores #scores-p2 .findNumber{
    position: absolute;
    left:30px;
    top:5px;
}
#scores #scores-p2 .level{
    position: absolute;
    right:0;
    top:20px;
}

#scores #scores-p3 .name{
    position: absolute;
    left:0;
    bottom:0;
}
#scores #scores-p3 .number{
    position: absolute;
    left:0px;
    top:60px;
    width:80px;
    text-align: right;
}
#scores #scores-p3 .findNumber{
    position: absolute;
    right:30px;
    bottom:5px;
}
#scores #scores-p3 .level{
    position: absolute;
    bottom:20px;
}

#scores #scores-p4 .name{
    position: absolute;
    right:0;
    bottom:0;
}
#scores #scores-p4 .number{
    position: absolute;
    right:0px;
    top:60px;
    width:80px;
    text-align: left;
}
#scores #scores-p4 .findNumber{
    position: absolute;
    left:30px;
    bottom:5px;
}
#scores #scores-p4 .level{
    position: absolute;
    right:0;
    bottom:20px;
}

/*STATS*/
#stats{
    position: absolute;
    left:872px;
    top:0;
    width:432px;
    height:864px;
    border-left: 10px solid #74C700;
    background-color: #96FF00;
    font-family:  Arial, sans-serif;
    font-size: 1.4em;
}
#stats h1{
    margin-left:32px;
}
#stats table{
    margin-top:32px;
    margin-left:32px;
    width:380px;
    text-align: left;
    border-collapse: collapse;
}
#stats table tr{

}
#stats table th{
    background-color: #D14D7D;
    color:white;
}
#stats table th,#stats table td{
    border: 1px solid black;
    padding:10px;
}

/*INTERFACE */
#interface{
    background: url("../img/map.png");
    position: absolute;
    top: 0;
    z-index: 8;
    width:864px;
    height:864px;
    font-family:  Arial, sans-serif;
}

#interface #modal {
    width: 620px;
    height: 700px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    text-align: center;
    margin-top: 80px;
    box-shadow: 0 0 6px #444;
}
#interface #modal #content {
}

#interface #modal h1 {
    margin: auto;
    background: url("../img/titre.png") no-repeat;
    background-position-y: 20px;
    width: 400px;
    height: 300px;
}

.button {
    display: block;
    width: 200px;
    margin: auto;
    padding: 16px 0 16px 0;
    text-align: center;
    background-color: #b7ff0e;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 10px;
}

#formulaire {
    background-color: #b7ff0e;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid darkgrey;
    border-radius: 10px;
    width: 85%;
    margin: auto;
}

#formulaire label{
    display: block;
    color: black;
    margin-bottom: 10px;
    margin-top: 20px;
}

#formulaire input[type=text] {
    text-align: left;
    text-indent: 14px;
    font-size: 24px;
    transform:scale(1,1);
    width: 180px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 1px;
}
#formulaire input[type=text]:disabled {
    background-color: #BCB2B2;
}
#formulaire input[type=text].ready{
    color: #555;
}
.checked {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    background-image: url("../img/greenchecked.png");
    z-index: 2000;
    top: 63px;
    left: 160px;
}
.cursor {
    display: block;
    width: 14px;
    height: 2px;
    top: 88px;
    left: 29px;
    position: absolute;
    background-color: black;
    z-index: 2000;
    visibility: hidden;
    -webkit-animation-name: blinker;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-duration: .8s; 
}
@keyframes blinker {  
  from { visibility: hidden; }
  50% { visibility: hidden; }
  to { visibility: visible; }
}
.manette{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    background-image: url("../img/manette1.png");
    z-index: 2000;
    top: 15px;
}
.manette.connected{

}
.manette.disconnected{
    background-position: 0px -40px;
}
#formulaire .block{
    display: inline-block;
    width:100%;
}
.player{
    display: inline-block;
    width: 40%;
    position:relative;
}
.button{
    cursor: pointer;
    color:#EEE;
    line-height: 30px;
    width: 220px; 
}
.button.ready{
    font-size: 1.2em; 
    -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    -webkit-animation-iteration-count: infinite;
    
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.button.gradian-blue{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
    background: rgb(109,179,242); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}
.button.gradian-blue-active, .button.gradian-blue:active{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e69de+0,1e69de+0,3690f0+48,3690f0+48,54a3ee+50,6db3f2+100 */
    background: rgb(30,105,222); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(30,105,222,1) 0%, rgba(30,105,222,1) 0%, rgba(54,144,240,1) 48%, rgba(54,144,240,1) 48%, rgba(84,163,238,1) 50%, rgba(109,179,242,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,105,222,1) 0%,rgba(30,105,222,1) 0%,rgba(54,144,240,1) 48%,rgba(54,144,240,1) 48%,rgba(84,163,238,1) 50%,rgba(109,179,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,105,222,1) 0%,rgba(30,105,222,1) 0%,rgba(54,144,240,1) 48%,rgba(54,144,240,1) 48%,rgba(84,163,238,1) 50%,rgba(109,179,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e69de', endColorstr='#6db3f2',GradientType=0 ); /* IE6-9 */
}

.gradiant-green{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2ff52+0,91e842+100;Neon */
    background: rgb(210,255,82); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
}
#input-1{
    border:3px solid #ffa800 ;
    
}
#input-1:focus{
    outline-width: 0;
    border:3px solid #ffa800;
    box-shadow: 0px 0px 20px #ffa800;
}
#input-1 .actived{
    background-color: #ffa800 !important;
    
}
#input-2{
    border:3px solid #C64191 ;   
}
#input-2:focus{
    outline-width: 0;
    border:3px solid #C64191;
    box-shadow: 0px 0px 20px #C64191;  
}
#input-2 .actived{
    background-color: #C64191 !important;
    
}
#input-3{
    border:3px solid #00BFB2;
}
#input-3:focus{
    outline-width: 0;
    border:3px solid #00BFB2;
    box-shadow: 0px 0px 20px #00BFB2;  
}
#input-3 .actived{
    background-color: #00BFB2 !important;
    
}
#input-4{
    border:3px solid #E0A890;
}
#input-4:focus{
    outline-width: 0;
    border:3px solid #E0A890;
    box-shadow: 0px 0px 20px #E0A890;  
}
#input-4 .actived{
    background-color: #E0A890 !important;
    
}


