.hidden {
    visibility: hidden;
}
body {
    background-color: #424242;
}

#game canvas {
    margin: auto;
}

#interface{
    background: url("../img/map.png");
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width:864px;
    height:864px;
    font-family:  Arial, sans-serif;
}

#interface #modal {
    width: 600px;
    height: 680px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    text-align: center;
    margin-top: 80px;
    box-shadow: 0 0 6px #444;
}
#interface #modal #content {
}

#interface #modal h1 {
    margin: auto;
    background: url("../img/titre.png") no-repeat;
    background-position-y: 20px;
    width: 400px;
    height: 300px;
}

.button {
    display: block;
    width: 200px;
    margin: auto;
    padding: 16px 0 16px 0;
    text-align: center;
    background-color: #b7ff0e;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 10px;
}

#formulaire {
    background-color: #b7ff0e;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid darkgrey;
    border-radius: 10px;
    width: 77%;
    margin: auto;
}

#formulaire label{
    display: block;
    color: #4e5451;
    margin-bottom: 10px;
    margin-top: 20px;
}

#formulaire input[type=text] {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
}
#formulaire input[type=text]:disabled {
    background-color: #D4C9C9;
}
#formulaire .block{
    display: inline-block;
    width:40%;
}
.button{
    cursor: pointer;
    color:#EEE;
}
.button.gradian-blue{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
    background: rgb(109,179,242); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}
.button.gradian-blue:active{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e69de+0,1e69de+0,3690f0+48,3690f0+48,54a3ee+50,6db3f2+100 */
    background: rgb(30,105,222); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(30,105,222,1) 0%, rgba(30,105,222,1) 0%, rgba(54,144,240,1) 48%, rgba(54,144,240,1) 48%, rgba(84,163,238,1) 50%, rgba(109,179,242,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,105,222,1) 0%,rgba(30,105,222,1) 0%,rgba(54,144,240,1) 48%,rgba(54,144,240,1) 48%,rgba(84,163,238,1) 50%,rgba(109,179,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,105,222,1) 0%,rgba(30,105,222,1) 0%,rgba(54,144,240,1) 48%,rgba(54,144,240,1) 48%,rgba(84,163,238,1) 50%,rgba(109,179,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e69de', endColorstr='#6db3f2',GradientType=0 ); /* IE6-9 */
}

.gradiant-green{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2ff52+0,91e842+100;Neon */
    background: rgb(210,255,82); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
}

